body{
background-image: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-3798.jpg?size=626&ext=jpg&ga=GA1.1.1085612589.1696092590&semt=ais');
    background-repeat: no-repeat;
  background-size: cover;
  

}
#glass{
    backdrop-filter: blur(8px);
  background-color: rgba(178,60,253,0.4);
}
